.home1{
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 5em;
    text-shadow: 3px 3px 0px black;
    padding-bottom: 1em;
}

.welcome1{
    color: white;
    text-shadow: 3px 3px 0px black;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 3em;
    padding-bottom: 0.5em;
}

.p1{
    color: white;
    text-shadow: 3px 3px 0px black;
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding-bottom: 2em;
}

.p2{
    color: white;
    text-shadow: 3px 3px 0px black;
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding-bottom: 1em;
}

form{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 2px 0px 0px rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
}

.form-control-color{
    background-color: rgb(147, 147, 147);
    cursor: text;
}


.submit1{
    color: white;
    background-color: black;
}

.signup1{
    color: rgb(0, 0, 0);
    font-size: 4.5em;
    font-family: "Courier New", Courier, monospace;
}

.navbar{
    font-family: "Courier New", Courier, monospace;
    font-size: large;
}

.cont{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.cont2{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.cont:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgb(21, 255, 0);
    background-color: rgb(4, 71, 0);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.cont2:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(242, 255, 0);
    background-color: rgb(59, 48, 0);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.cont1{
    color: rgb(237, 237, 237);
    text-shadow: 1px 1px 0px black;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background-color: rgba(184, 46, 11, 0.479);
}

.list-group{
    align-items: center;
}

.crd1{
    background-color: rgba(220, 20, 60, 0.708);
}

.ct1{
    color: gold;
    text-shadow: 1px 1px 0px black;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.cb1{
    color: rgb(237, 237, 237);
    text-shadow: 1px 1px 0px black;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;  
}

.cb2{
    color: rgba(255, 170, 1, 0.856);
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace; 
}

.search1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    color: rgb(237, 237, 237);
    text-shadow: 1px 1px 0px black;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(154, 0, 0, 0.468);
    border-radius: 10px;
    background-color: rgba(74, 74, 74, 0.418);
    cursor: text;
  }

  .magbtn{
    color: white;
  }

.search2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search22 {
    color: rgb(252, 249, 249);
    text-shadow: 1px 1px 0px rgb(11, 11, 11);
    width: 100%;
    box-sizing: border-box;
    border: 2px solid silver;
    border-radius: 10px;
    background-color: rgba(125, 65, 0, 0.333);
    cursor: text;
  }

  .magbtn2{
    color: white;
  }

  .sidebar1{
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 3px 3px 0px black;
  }

  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

.idximg {
    width: 400px;
    height: 300px;
    border-radius: 20px;
  }
  
  