{% extends 'base.html' %}

{% block title %} Notes {% endblock %}

{% block content %}

<form action="" class="form1 rounded mt-3 p-5" style="background-image: url('static/oldpaper.jpg'); background-size: cover;" method="post">
    <h1 class="signup1 text-center">Add New Note</h1>
    {{ form.csrf_token }}
    
    {{ form.title.label }}
    {{ form.title(class='form-control form-control-color w-25', style='cursor: text;', placeholder='Note Title') }}

    {{ form.body.label }}
    {{ form.body(class='form-control form-control-color w-50', style='cursor: text;', placeholder='Note Content') }}

    {{ form.submit(class='submit1 btn btn-danger w-25 mt-3') }}
</form>

{% endblock %}