{% extends 'base.html' %}

{% block title %} Address Book {% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <!-- Address Book Page -->
    <h1 class="home1 text-center mt-3">{{ current_user.first_name.title() }}'s Contacts</h1>
    <!-- search feature for addressbook -->
    <form class="search1">
        <input type="text" class="search" placeholder="Search Contacts">
        <button type="submit" class="btn magbtn btn-lg"><i class="fas fa-search"></i></button>
      </form>
      
    {% for addy in address %}
    <ul class="list-group mb-3">
        <li class="cont list-group-item active w-50" style="background-image: url('static/blackstone.jpg');">{{ addy.first_name }} {{ addy.last_name }}</li>
        <li class="cont1 list-group-item w-50">{{ addy.phone }}</li>
        <li class="cont1 list-group-item w-50">{{ addy.address }}</li>
        <li class="cont1 list-group-item w-50"><cite title="Source Title">{{ addy.date_created.strftime('%A, %B %d, %Y. %I:%M%p') }}</cite></li>
        <li class="cont1 list-group-item w-50"><a href="{{ url_for('edit_contact', address_id=addy.id) }}" class="edbtn cont btn btn-success btn-sm">Update</a>
            <button type="button" class="delbtn cont2 btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{addy.id}}">
              Remove Contact
          </button>
          
          <!-- Modal for Deleting Contact -->
          <div class="modal fade" id="deleteModal-{{addy.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.495);">
              <div class="modal-dialog bg-dark">
                  <div class="modal-content" style="background-color: rgb(129, 84, 0);">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel">Removing "{{ addy.first_name }}"?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body " style="background-color: rgb(22, 22, 22);">
                      Are you SURE you want to remove {{ addy.first_name }} from your contacts? This is permanent.
                      </div>
                      <div class="modal-footer" style="background-color: rgb(22, 22, 22);">
                          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">They can Stay</button>
                          <a href="{{ url_for('delete_contact', address_id=addy.id) }}" class="btn btn-outline-danger">Remove {{ addy.first_name }}</a>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div></li>
    </ul>
    {% endfor %}
{% endif %}
{% endblock %}