{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h1 class="home1 text-center mt-3">Your Address Book</h1>
    <h1 class="welcome1 text-center">Welcome, {{ current_user.first_name.title() }}</h1>
    {% else %}
    <h1 class="home1 text-center mt-5">Your Address Book</h1>
    <h1 class="welcome1 text-center">Welcome</h1>
    <p class="p1 text-center">Here you can create a personal Address Book to save all of your contacts Hassel FREE!</p>
    <p class="p2 text-center">Already Have an Account?</p>
    <a href="login"><button type="button" class="cont homebtn btn btn-success position-absolute top-40 start-50 translate-middle">lOGIN</button></a>
    <p class="welcome1 text-center pt-4">OR</p>
    <p class="p2 text-center ">SIGN UP NOW!</p>
    <a href="signup"><button type="button" class="cont2 homebtn btn btn-warning position-absolute top-60 start-50 translate-middle">SIGN UP!</button></a>
    {% endif %}
{% endblock %}