{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

    <h1 class="home1 text-center mt-5">Your Address Book</h1>
    <h1 class="welcome1 text-center">Welcome</h1>
    <p class="p1 text-center">Here you can create a personal Address Book to save all of your contacts Hassel FREE!</p>
    <p class="p2 text-center pt-3">SIGN UP NOW!</p>
    <a href="signup"><button type="button" class="homebtn btn btn-warning position-absolute top-80 start-50 translate-middle">SIGN UP!</button></a>

{% endblock %}