{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

    <h1 class="home1 text-center mt-5">We're Sorry</h1>
    <h1 class="welcome1 text-center">Under Maintenance</h1>
    <p class="p1 text-center">Our login page is currently being worked on. We will inform you when we are back up! Thank you for your patience!</p>
    <p class="p2 text-center pt-3">SIGN UP NOW!</p>
    <a href="signup"><button type="button" class="homebtn btn btn-warning position-absolute top-80 start-50 translate-middle">SIGN UP!</button></a>

{% endblock %}