{% extends 'base.html' %}

{% block title %} Notes {% endblock %}

{% block content %}

<h4 class="home1 text-center mt-5">{{ current_user.first_name.title() }}'s Notes</h4>

{% for note in notes%}
<div class="crd1 card mb-3" style="max-width: 50vmax;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='note.png')}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="ct1 card-title">{{ note.title }}</h4>
        <p class="cb1 card-text">{{ note.body }}</p>
        <p class="cb2 card-text"><small><cite title="Source Title">{{ note.date_created.strftime('%A, %B %d, %Y. %I:%M%p') }}</cite></small></p>
        <a href="{{ url_for('edit_post', post_id=note.id) }}" class="edbtn cont btn btn-success btn-sm">Edit</a>
        <button type="button" class="delbtn cont2 btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{note.id}}">
          Remove Note
      </button>
      
      <!-- Modal for deleting notes-->
      <div class="modal fade" id="deleteModal-{{note.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.495);">
          <div class="cb1 modal-dialog bg-dark">
              <div class="modal-content" style="background-color: rgb(255, 166, 0);">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting "{{ note.title }}"?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="background-color: rgb(127, 127, 127);">
                  Are you SURE you want to remove {{ note.title }}? There's no going back if you do!
                  </div>
                  <div class="modal-footer" style="background-color: rgb(22, 22, 22);">
                      <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Hmm...Maybe Later</button>
                      <a href="{{ url_for('delete_post', post_id=note.id) }}" class="btn btn-outline-danger">Destroy It!</a>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}